.imageStyle {
  width: 8%;
  height: 0;
  padding-bottom: 8%;
  margin-left: 2%;
  background: linear-gradient(89deg, #FF5EDF 10%, #04C8DE 100%);
}

img {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}